/**
 * @file
 *
 * adventures subtheme
 * base theme: ZEN 5.4
 * development server @localhost;
 * path: htdocs/adventures
 *
 * author: criscom
 * date: 20131104 / 04. November 2013
 * last update: 20131214 / 14. Dezember 2013
 *
**/

* {
  @include bs;
  outline: none;
}

body {
  @include establish-baseline;
  background: #000 image-url("bg_body.jpg") left top repeat-x;
  color: lighten(black, 40%);
}

::-moz-selection {
  background-color: lighten($red-top, 25%);
  text-shadow: none;
}

::selection {
  background-color: lighten($red-top, 25%);
  text-shadow: none;
}

.block {
  margin-bottom: 0;
}

#header,
#main,
#navigation,
.region-sidebar-first,
// .region-sidebar-second,
#footer {
  // padding-right: .657894736%; // 8 / 1216
  // padding-left: .657894736%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  @include MQ(S) {

  }
}

.region-sidebar-second {
  padding-right: 0;
  padding-left: 0;
}

#main, footer {
  background-color: #fff;
}

header {
  @extend %adv-gradient;
}

body.node-type-news-stefflhof-sulmsee.section-sulmsee-triahtlon,
body.section-sulmsee-triathlon {
  header {
  @extend %adv-gradient-sulmsee;
  }
}


// BASIC FONT SIZE and LINK STYLING
// ============================================

[role="main"] {
  p,
  li,
  li a,
  p a,
  span,
  div,
  // span:not(.date-display-single),
  .download-file,
  div.field > a {
  font-size: 14px;
  font-size: .875rem;
  }

  li a, p a, span a, .download-file a, a:not(.tabs-primary__tab-link) {
    color: $red-top;
    text-decoration: none;
    &:hover {
      color: $red-bottom;
    }
  }
}

.result a {
  background: transparent image-url("icon-stoppwatch.png") left center no-repeat;
  display: block;
  height: 3.5em;
  padding-top: 2%;
  padding-left: 3.5em;
  margin-bottom: 1em;
  line-height: 1.25em;
}

// SULMSEE TRIATHLON LINK STYLING

body.node-type-news-stefflhof-sulmsee.section-sulmsee-triahtlon,
body.node-type-news-stefflhof-sulmsee.section-triahtlon,
body.section-sulmsee-triathlon,
body.section-triathlon {
  [role="main"] {
    li a, p a, span a, .download-file a, a:not(.tabs-primary__tab-link) {
      color: $blue-top;
      text-decoration: none;
      &:hover {
        color: $blue-bottom;
      }
    }
  }
}

// ============================================
// CONTENT BLOCKS STYLING
// WIDTHS SETTINGS
// ============================================


// CONTENT NO SIDEBAR
// ============================================

#content {
  position: relative;
  padding-left: 1.5833333333%; // 19 / 1200
  padding-right: 0;
  margin-top: 60px;
}

.front #content {
    padding-right: .657894736%;
    padding-left: .657894736% !important;
    // padding-left: 0 !important;
    // padding-right: 0;
}

// CONTENT NO SIDEBAR
// DISPLAY SUITE 2 columns fluid
// used for: Resultate Verein

#content .node {
   > .group-left {
      width: 67.31583404%; // 795 / 1181
      padding-right: 1.778154107%; // 21 / 1181
   }
   > .group-right {
      width: 32.68416596%; // 386 / 1181
   }
}

// CONTENT and RIGHT SIDEBAR
// ============================================
.sidebar-second #content { // padding-left (19px) in line 44
  width: 67.83333333%; // 814 / 1200
  margin-right: -67.83333333%;
  @include MQ(M) {
    width: 100%;
    margin-right: 0;
  }
}

.sidebar-second .region-sidebar-second {
  width: 32.16666667%; // 386 / 1200
  margin-left: 67.83333333%;
  .ie8 & {
    width: 32%;
    margin-left: 68%;
  }
  @include MQ(M) {
    clear: left;
    width: 100%;
    margin-left: 0;
  }
}

.sidebar-second .region-sidebar-second {
  margin-top: 60px; // same as in #content line 134
}

.sidebar-second .region-sidebar-second>.block,
.group-right .block
{
  padding-right: 2.07253886%; // 8 / 386
}

.group-right .field-slideshow-slide {
  padding-right: 2px;
}

// CONTENT and right SIDEBAR
// DISPLAY SUITE 2 columns fluid
// used for: Athleten Verein

.sidebar-second #content .ds-2col-fluid > .group-left {
  width: 33.4591195%; // 266 / 795
  padding-right: 0;
}

.sidebar-second #content .ds-2col-fluid > .group-right {
  width: 66.5408805%; // 529 / 795
  padding-left: 3.396226415%; // 27 / 795
  padding-right: 2.641509434%; // 21 / 795

}

// CONTENT and right SIDEBAR
// DISPLAY SUITE 1 column
.sidebar-second #content .ds-1col,
// CONTENT VIEW and right SIDEBAR
.sidebar-second #content .view
{
  margin-right: 24px;
  margin-right: 1.5rem;
}

// ======================================
// IE8 FIX
// ======================================

// The layout when there is only one sidebar, the right one.
// ======================================

 .lt-ie9 .sidebar-second {
    #content { /* Span 3 columns, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
      margin-right: -70%;
      width: 70%;

    }

  .region-sidebar-second { /* Span 2 columns, starting in 4th column from left. */
      @include zen-grid-item(2, 4);
      margin-left: 70%;
      width: 30%;
    }
  }


// RIGHT SIDEBAR MENU
// ============================================

.region-sidebar-second {
  position: relative;
  z-index: 1;
}

.block-menu-block {
  padding-bottom: 8px;
  margin-top: 29px;
  margin-top: 1.8rem;
  @extend %box-shadow-bottom;
  .block-wrapper {
    background: lighten(black, 85%);
    padding-bottom: 1px;
  }
  h2 {
    // padding-top: 13px;
    // padding-top: .8rem;
    padding-left: 32px;
    padding-left: 2rem;
  }
  ul {
    padding-left: 32px;
    padding-left: 2rem !important;
    .menu__item.is-leaf, .menu__item.is-collapsed, .menu__item.is-expanded  {
      list-style-image: none;
      list-style-type: none;
      a {
        @extend %link;
        font-size: 18px;
        font-size: 1.125rem;
        &:hover, &.active {
          color: $red-top;
        }
      }
    }
  }
}

#block-menu-block-1, #block-menu-block-2, #block-menu-block-5 // Running Team Menu and TRI-Team MENU and Verein Menu
{
  margin-top: 0;
}

#block-menu-block-4 // Sulmsee Tri Menu ORGANISATION
{
  margin-top: 40px;
  margin-top: 2.5rem;
  .menu-block-wrapper, h2 {
    background: lighten(black, 85%);
    padding-bottom: 1px;
  }
  h2 {
    padding-top: 13px;
    padding-top: .8rem;
    padding-bottom: 22px;
    padding-bottom: 1.4rem;
    @include MQ(L) {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 3em;
      padding-bottom: 16px;
      padding-bottom: 1rem;
    }
  }
  .block-menu-block {
    margin-top: 0;
    ul.menu {
      margin-top: 0;
    }
  }
}

body.node-type-news-stefflhof-sulmsee.section-sulmsee-triahtlon,
body.node-type-news-stefflhof-sulmsee.section-triahtlon,
body.section-sulmsee-triathlon,
body.section-triathlon {
    .block-menu-block {
      position: relative;
        .menu-icons {
          background: image-url('menu-icons.png') 2em 0 no-repeat;
          position: absolute;
          height: 38px;
          width: 227px;
          top: -18px;
          top: -1.3rem;
          }
      .menu__item.is-leaf, .menu__item.is-expanded, .menu__item.is-collapsed {
        a:hover, a.active {
          color: $blue-top;
        }
      }
    }
}

// body.section-sulmsee-triathlon {
//     .block-menu-block {
//       background: image-url('menu-icons.png') 2em 0 no-repeat;
//       h2 {
//         padding-top: 2.15em;
//       }
//       .menu-block-wrapper {
//         background: lighten(black, 85%);
//         padding-top: 3.85em;
//         margin-top: -3.85em;
//         padding-bottom: .6em;
//       }
//       .menu__item.is-leaf {
//         a:hover, a.active {
//           color: $blue-top;
//         }
//       }
//     }
// }

// ============================================
// HEADER
// LOGO and ADDRESS
// ============================================

.header__region {
    clear: none;
    float: right;
    margin-right: 14%; // 150 / 1200
  @include MQ(L) {
    margin-right: 0;
  }
  @media only screen and (max-width: 724px) { // hides address in header on smaller devices
    display: none;
  }
  font-size: 14px;
  font-size: .875rem;
  color: white;
  font-family: $oswald;
  .block, p {
    margin-top: .15em;
    margin-bottom: 0;
  }
}

.header__logo-image {
  @include MQ(Sextra) {
    width: 300px!important;
  }
}

// HEADINGS

h1, h2, h3, h4 {
  font-family: $oswaldbook;
  text-transform: uppercase;
  color: $red-top;
}

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.75em;
}

#content h2 {
  margin-top: 0;
}

body.node-type-news-stefflhof-sulmsee.section-sulmsee-triahtlon,
body.node-type-news-stefflhof-sulmsee.section-triahtlon,
body.section-triathlon,
body.section-sulmsee-triathlon {
  h1, h2, h3, h4 {
  color: $blue-top;
}
}


// ============================================
// MAIN NAVIGATION
// ============================================

nav {
  margin-top: 1em;
  margin-left: 1em;
  ul {
    li {
      a {
        @extend %link;
        @include MQ(L) {
          font-size: 18px;
          font-size: 1.125rem;
        }
        @include MQ(M) {

        }
        &:hover, &.active, &:active, &:focus {
          color: $red-top;
        }
      }
    }
    li:after {
      color: lighten(black, 60%);
      font-family: $oswaldbook;
      font-size: 22px;
      font-size: 1.375rem;
      content: " | ";
      padding: 0 16px;
      padding: 0 1rem;
      @include MQ(L) {
          font-size: 18px;
          font-size: 1.125rem;
          padding: 0 8px;
          padding: 0 .5rem;
      }
      @include MQ(M) {

      }
    }
    li.last:after {
      content: "";
      padding: 0;
    }
  }
}

body.node-type-news-stefflhof-sulmsee.section-sulmsee-triahtlon,
body.node-type-news-stefflhof-sulmsee.section-triahtlon,
body.section-triathlon,
body.section-sulmsee-triathlon {
  nav li {
    a:hover, a.active, a.active-trail {
        color: $blue-top;
    }
  }
}

// Responsive Menu
// ============================================

// Main menu
// Kicks in @695px

#navigation {
  @include MQ(M) {
    width: 98%;
    margin-left: 1%;
  }
}

.responsive-menus.responsified {
  z-index: 1;
  position: relative;
  span.toggler {
    font-family: $oswald;
    text-transform: uppercase;
    padding: 4px 0;
    padding: .25rem 0;
    margin-top: 8px;
    margin-top: .5rem;
    background: $red-bottom;
    box-shadow: none;

    body.section-triathlon &,
    body.section-sulmsee-triathlon & {
    background: $blue-bottom;
    }
  }
  .responsive-menus-simple {
    box-shadow: none;
    background: transparentize($red-bottom, .25);

    body.section-triathlon &,
    body.section-sulmsee-triathlon & {
    background: transparentize($blue-bottom, .25);
    }
    li {
      &:after {
        content: none;
      }
      a {
        &:hover, &.active {
          color: $orange-top;

          body.section-triathlon &,
          body.section-sulmsee-triathlon & {
          color: $orange-top;
          }
        }
      }
    }
  }
}

// labels

.label {
  font-weight: bold;
}

.label-blank {
  font-weight: normal;
}
// ============================================
// VIEWS SLIDESHOW // FLEXSLIDER
// ============================================

#slideshow {
  // margin-top: -40px;
  // margin-top: -2.5rem;
  padding-right: .657894736%;
  padding-left: .657894736% !important;
  @include MQ(L) {
    // margin-top: 12px;
    // margin-top: .75rem;
    margin-top: 0;
  }
  @include MQ(S) {
    margin-top: 20px;
    margin-top: 1.25rem;
  }
    // margin-top: 20px;
    // margin-top: 1.25rem;

  .ie & {
    margin-top: 12px;
    margin-top: .75rem;
  }
  .region-highlighted .block {
      &:after {
        @extend %clearfix;
      }
  }
}

// For the shadow effect of the slideshow
.view-content {
  position: relative;
  z-index: 1;
}

// Slideshow shadow
  .flexslider {
    @extend %box-shadow;
    margin-bottom: 20px;
    .safari &, .chrome & {
      margin-top: 25px;
    }
  }

.slides li {
  margin: 12px 0;
  margin: .75rem 0;
  @extend %flex-content-gradient;
  @include MQ(Sextra) {
    margin-bottom: 12px;
  }
}

  .views-field-field-bild-slideshow .field-content {
    z-index: 10;
    // max-width: 65.2138157%;
    // width: 65.2138157%;
    max-width: 68%; // 793/1200
    width: 68%; // 793/1200 // damit der weiße Abteiler stimmt, müssen wir das rechte Padding zur Breite dazu geben
    padding-right: 1.916666667%; // 23/1200 = 1.916666667
    background:#FFF;
    float: left;
    // margin: 12px 0;
    // margin: .75rem 0;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        }
      }
  .views-field-body .field-content {

    float: right;
    // width: 34.7861843%;
    width: 31.166666667%; //32.08333333% - 1.916666667%;
    margin-right: 0;
    color: #FFF;
    display: block;
    vertical-align: middle;
    text-align: center;
    padding-top: 3.5%;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 36px;
    line-height: 2.25rem;
    font-family: $oswaldbook;
    @include MQ(L) {
      padding-top: 2.5%;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 28px;
      line-height: 1.75rem;
    }
        @include MQ(M) {
      padding-top: 1.75%;
      font-size: 16px;
      font-size: 1rem;
      line-height: 24px;
      line-height: 1.5rem;
    }

    @include MQ(Sextra) {
      padding-top: 1%;
      font-size: 14px;
      font-size: .875rem;
      line-height: 22px;
      line-height: 1.375rem;
    }
    @include MQ(S) {
      padding-top: 1%;
      font-size: 8px;
      font-size: .5rem;
      line-height: 12px;
      line-height: .75rem;
    }

    font-weight: bold;
    text-transform: uppercase;
  }

  // Flexslider Navigation

  .flex-control-nav {
    text-align: right;
    width: 792px;
    width: 49.5rem;
    @include MQ(L) {
      width: 65.2138157%;
    }
    // right: 440px;
    // right: 27.5rem;
  }

  .flex-control-paging li a {
    font-size: 20px;
    font-size: 1.25rem;
    text-indent: 0;
    background: none;
    border-radius: 0;
    box-shadow: none;
    @include MQ(Sextra) {
      font-size: 14px;
      font-size: .875rem;
    }
    &.flex-active {
      background: none;
      color: $red-top;
    }
    &:hover {
      background:none;
      color: $red-top;
    }

    .section-triathlon &,
    .section-sulmsee-triathlon & {
      &.flex-active {
      background: none;
      color: $blue-top;
    }
      &:hover {
      background:none;
      color: $blue-top;
    }
    }
  }


.flex-direction-nav a {
  padding: 10px 0;
}

// ============================================
// FRONTPAGE PANEL // SULMSEE NEWS BLOCK
// ============================================

#verein-landing-page {
  position: relative;
  z-index: 1;
  .panel-flexible-inside {
    @extend %box-shadow;
  }
}

.panels-flexible-region-inside {
  padding: 0;
}

.inside.panels-flexible-region-inside.panels-flexible-region-1-ergenisse_sulm_tri-inside.panels-flexible-region-inside-first {
padding-left: 0.5em;
}

.panels-flexible-row {
  z-index: 5;
  background:#FFF;
  padding-bottom: 22px;
  padding-bottom: 1.375rem;
  .panels-flexible-row-inside-first {
    padding-top: 22px;
    margin-top: 1.375rem;
  }
}

.panels-flexible-row-1-1 {
  margin-top: 0;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.front-teaser {
  min-height: 205px;
  // height:auto !important;
  // height: 206px;
}

.text-teaser {
  padding: 0 12px;
  padding: 0 .75rem;
    h3, h4, h2.pane-title, a.more-link, p, h3 a,
    .field-name-field-name-des-athleten a,
    .field-content a,
    .weiter a
    {
    color: white !important;
  }
  h3, h3 a, h4, h2.pane-title {
    letter-spacing: 0.0625em;
    @include MQ(M) {
      letter-spacing: 0;
    }
  }
  .field-name-field-name-des-athleten a {
    font-size: 14px;
    font-size: .875rem;
    text-transform: uppercase;
  }
  // LINKS
  a.more-link,
  .field-name-field-name-des-athleten a,
  .field-content a,
  .weiter a
  {
    font-weight: bold;
    @extend %single-transition;
    &:hover {
      color: $red-top !important;
    }
  }
    h2 {
      @extend %teaser-box-margins;
  }
    h3 {
    margin-top: 8px;
    margin-top: .5rem;
    margin-bottom: 0;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 2px;
    margin-bottom: .15rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 1px;
  }
  p,
  a.more-link,
  .entity-field-collection-item .field,
  .entity-field-collection-item span,
  .field-content a,
  .weiter a
  {
    font-size: 12px;
    font-size: .75rem;
  }
}

// FIRST ROW
// ============================================

// Sulmsee Triathlon Image Teaser


.image-teaser {
  // width: 27.22039474%;
  width: 33.91666667%; // 407/1200 = 33.91666667
  @extend %adv-gradient-sulmsee;
  line-height: 1;
  padding: 0;
  min-height: 206px;
  float: left; // criscom 01.07.2015
  @include MQ(XL) {
  }
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    display: none;
  }
  @include MQ(Sextra) {
    min-height: 209px;
  }
  @include MQ(S) {
    display: none;
  }
}

// Sulmsee Triathlon Teaser

.triathlon-teaser {
  color: white;
  @extend %front-teaser-385-23;
  @extend %adv-gradient-sulmsee;
  min-height: 209px;
  float: left; // criscom 01.07.2015
  .ie & {
    min-height: 211px;
  }
  @media only screen and (max-width: 1200px) {
    min-height: 206px;
  }
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    width: 100%;
    margin-right: 0;
  }
  @include MQ(S) {
    width: 100%;
  }
  h2 {
    @include hide-text;
    background: {
      image: image-url('PlankseeTriathlonLogo_weiss.png');
      //image: image-url('teaser-logo-front-sulmsee-tri.png');
      //image: image-url('stefflhof_weiss.svg');
      repeat: no-repeat;
      position: 0 6px;
      width: 100%;
      height: auto;
      }
    width: 356px;
    height: 74px;

    @include MQ(XL) {
      background: {
      image: image-url('teaser-logo-front-sulmsee-tri-mq-xl.png');
      }
      width: 280px;
      height: 58px;
    }

  }
  .more-link {
    margin-top: 20px;
    @include MQ(L) {
      margin-top: 2px;
    }
  }
}

// Adventures Teaser

.adventures-teaser {
  @extend %front-teaser-385-23;
  margin-right: 0;
  color: white;
  @extend %adv-gradient;
  float: left; // criscom 01.07.2015
  @include MQ(L) {
    margin-top: 24px;
    margin-top: 1.5rem;
    width: 100%;
  }
  .more-link {
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

// SECOND ROW
// ============================================

// Ergebnisse Sulm-Tri
.erg-sulm-tri, .erg-verein, .news-teaser {
  @extend %front-teaser-385-23;
  @extend %adv-gradient-ergebnisse;
  min-height: 285px;
  float: left;
  @include MQ(L) {
    width: 100%;
  }
}

.erg-sulm-tri {
  @extend %front-teaser-22;
}

.erg-verein, .news-teaser {
    @include MQ(L) {
    margin-top: 24px;
    margin-top: 1.5rem;
  }
}

// Ergebnisse Verein

#verein-landing-page .views-field-field-ergebnis-athleten {
  .field-content .item-list:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    }
  .weiter a {
    display: block;
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      list-style-image: none;
      // padding-right: 32px;
      // padding-right: 2rem;
      // padding-bottom: 16px;
      // padding-bottom: 1rem;
      width: 100%;
      float: left;
      color: white;
      &:nth-child(3n+4) {
        clear: left;
      }
    }
  }
}
// News

.news-teaser {
  margin-right: 0;
  @extend %adv-gradient-news;
  margin-right: 0;
}

// News Detail Verein

.node-news-stefflhof-sulmsee {
  h2 {
    margin-top: 0;
  }
   .field-name-body {
    p {
      margin-bottom: 0;
    }
  }
}

.panels-flexible-1 .panels-flexible-row-last {
  padding-bottom: 0.5em !important;
}

// Sulmsee Triathlon NEWS Block
// ============================================

#block-views-news-landing-page-block-2 {
  @extend %box-shadow-bottom;
  padding-bottom: 15px;
  margin-top: -7px;
  .block-wrapper {
    @extend %adv-gradient-news;
    padding-bottom: 1px;
  }
  h2 {
    @extend %teaser-box-margins;
    padding-top: 4px;
    padding-top: .25rem;
    margin-left: 32px;
    margin-left: 2rem;
    margin-right: 32px;
    margin-right: 2rem;
  }
  h2.block__title {
    display: none;
  }
  .view-content {
    .views-row {
    padding: 0 32px;
    padding: 0 2rem;
    .node-news-stefflhof-sulmsee {
      padding-bottom: 0;
      margin-bottom: 26px;
      margin-bottom: 1.6rem;
    }
    }
  }
  h2, h3, p, a.more-link {
    color: white;
  }
  h3, p {
    @extend %teaser-box-margins;
    border-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  p, a.more-link {
    font-size: 12px;
    font-size: .75rem;
  }
  a.more-link
    {
    margin-top: 8px;
    margin-top: .5rem;
    font-weight: bold;
    text-decoration: none;
    @extend %single-transition;
    &:hover {
      color: $blue-top !important;
    }
  }
}

// Datumsfeld im News Teaser Block auf der Startseite
.date-field {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $oswaldbook;
}

.date-news {
  color: $red-top;
}

.fc-event-title {
  display: block;
}

// ============================================
// OVERVIEW PAGES: VEREIN, ATHLETEN
// ============================================

.views-responsive-grid-horizontal {
  .views-column {
    float: left;
    width: 49%;
    margin-top: 24px;
    margin-top: 1.5rem;
    .column-title {
      color: $red-top;
      text-transform: uppercase;
      font-size: 20px;
      font-size: 1.25rem;
    }
  }
  .views-column-last {
    width: 50%;
  }
  .views-row {
    margin-bottom: 12px;
    margin-bottom: .75rem;
    padding-bottom: 8px;
    padding-bottom: .5rem;
    border-bottom: 1px #D3D7D9 solid;
    @extend %clearfix;
  }
}

// ATHLETEN VEREIN DETAIL
// ============================================

.node-athleten h2 {
  margin-top: 0;
  margin-bottom: .5em;
}

.node-athleten .field-collection-container {
  border-top: 1px solid #D3D7D9;
  margin-top: 1em;
  .field-collection-view {
    margin-left: 0;
  }
}

.field-collection-item-field-athleten-ergebnisse {
  .right {
    padding-right: .3em;
  }

}

// ERGEBNISSE VEREIN LANDING PAGE
// ============================================

.not-front .view-ergebnisse-verein {
  position: relative;
  z-index: 1;
  margin-top: 16px;
  margin-top: 1rem;
  h3 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .views-row {
    @extend %box-shadow-bottom;
    display: block;
    margin-bottom: 16px;
    margin-bottom: 2rem;
    .views-field-title a {
      @extend %header-content;
    }
    .views-field-field-ergebnis-athleten
      ul {
        padding-left: 0;
        li {
          list-style: none;
          list-style-image: none;
          // padding-right: 32px;
          // padding-right: 2rem;
          padding-bottom: 16px;
          padding-bottom: 1rem;
          width: 32%;
          min-height: 88px;
          @include MQ(L) {
            width: 50%;
          }
          float: left;
          &:nth-child(3n+4) {
            clear: left;
            @include MQ(L) {
              clear: none
            }
          }
          .field-name-field-athleten-name, a {
            @extend %link;
            font-size: 18px;
            font-size: 1.125rem;
          }
        }
      }
    .views-field-field-ergebnis-athleten .field-content .item-list:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
    .views-field-view-node {

      padding-bottom: 16px;
      padding-bottom: 1rem;
    }
  }
}

.group-header .field-name-field-name-des-athleten {
  display: none !important;
}

// ERGEBNISSE VEREIN DETAIL
// ============================================

.node-ergebnisse-verein .group-right,
.node-ergebnisse-verein .group-left {
  @include MQ(M) {
    clear: left;
    float: left;
    width: 100% !important;
  }
}


// Field Collection: field_ergebnis_athleten

.fc-header {
  @extend %header-content;
  font-size: 22px;
  font-size: 1.375rem !important;
}

.fc-header-first {
  padding-right: 4px;
  padding-right: .25rem;
}

.fc-content {
  margin: 0;
}

.fc-comment {
  margin-top: 1em;
}


.field-slideshow-caption {
  background-color: lighten(black, 80%);
  border-bottom: 1px solid lighten(black, 60%);
  span {
    display: block;
    padding: .5em 1em;
    line-height: .5em;
    a {
      font-size: 14px;
      font-size: .875rem;
      @extend %single-transition;
      text-decoration: underline !important;
    }
  }
}

.field-slideshow-image {
  border: 1px solid lighten(black, 60%);
}

.field-name-ergebnisse-slideshow-hinweis p {
  @extend .field-slideshow-caption;
  padding: .5em;
  font-size: 12px;
  font-size: .75rem;
  font-style: italic;
  margin-right: 8px;
  margin-right: .5rem;
}

// Ergebnisse Verein Detail END

// Bildergalerien

.field-name-field-bild-galerie {
  a img {
  padding-right: 8px;
  padding-right: .5rem;
  }
  a:nth-child(3n) img
  {
    padding-right: 0;
  }

}

// VEREIN Bildergalerie landing page
// VEREIN NEWS landing page
// SULMSEE TRIATHLON NEWS landing page
// TERMINE landing page
// ============================================

.page-sulmsee-triathlon-news .view-news-landing-page,
.page-triathlon-news .view-news-landing-page,
.page-verein-stefflhof-news .view-news-landing-page,
.page-verein-stefflhof-termine .view-termine-vereinsaktivit-ten, // Termine Übersicht
.page-verein-stefflhof-archiv .view-termine-vereinsaktivit-ten, // Termine Archiv
.view-bildergalerien {
  position: relative;
  .view-content .views-row {
    @extend %box-shadow-bottom;
  }
}

.page-sulmsee-triathlon-news .view-news-landing-page,
.page-triathlon-news .view-news-landing-page,
.page-verein-stefflhof-news .view-news-landing-page {
  .date-field {
    span {
      color: rgb(102,102,102);
    }
  }
}

.node-news-stefflhof-sulmsee,
.page-verein-stefflhof-termine .view-termine-vereinsaktivit-ten, // Termine Übersicht
.page-verein-stefflhof-archiv .view-termine-vereinsaktivit-ten, // Termine Archiv
.fc-view, // Termine Kalender
.view-mode-bildergalerie_landing_page {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  .group-left {
    h2 {
    margin-top: 0;
    margin-bottom: 12px;
    margin-bottom: .75rem;
    @extend %header-content;
    line-height: 1.375em;
    }
    p {
      margin-top: 8px;
      margin-top: .5rem;
      margin-bottom: 8px;
      margin-bottom: .5rem;
    }
    .field-name-node-link {

    }
  }
}

.section-triathlon .node-news-stefflhof-sulmsee,
.section-sulmsee-triathlon .node-news-stefflhof-sulmsee {
  h2 {
    color: $blue-top;
  }
}

.more-link {
  display: block;
  text-align: left;
}

.terminkalender { // LInk zum Terminkalender im Teaser Blocka auf der Startseite
  text-transform: uppercase;
}

.fc-event-title {
  @include hyphens(auto);
}

.node-termin-verein {
 .download-file {
  margin-top: 0;
 }
  .date-field.date-news {
    padding-bottom: 12px;
    padding-bottom: .75rem;
  }
  .field-name-body {
    p:first-child {
      margin-top: 0;
    }
  }
}
// ============================================
// SULMSEE TRIATHLON LANDING PAGE
// ============================================

// CONTENT AREA box-shadow

.not-front .panel-pane {
  position: relative;
  z-index: 1;
  .ds-1col, .weather {
    @extend %box-shadow-bottom;
    padding-bottom: 16px;
    padding-bottom: 1rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    .field-collection-container {
      border-bottom: 0;
      margin-bottom: 0;
      }
    }
}



// WETTER DETAIL

.panel-pane {
  p.forecast, .weather-symbol  {
    float: left;
    margin-top: 0;
    margin-right: 32px;
    margin-right: 2rem;
  }
}

.page-weather-austria-styria-graz-1 table {
  font-size: 12px;
  font-size: .75rem;
    td {
    vertical-align: middle;
    text-align: center;
    span {
      font-size: 12px;
      font-size: .75rem;
    }
    img {
      float: left
    }
  }
}

// FOOTER

// Impressum

footer {
  .block {
  padding-right: .657894736%; // 8 / 1216
  padding-left: .657894736%;
  }
  p {
    padding: 5px 8px;
    padding: .3rem 1rem;
    margin: 0 0 32px;
    @extend %adv-gradient;
    vertical-align: middle;
    font-family: $oswaldbook;
    font-size: 22px;
    font-size: 1.375rem;
    color: white;
    text-transform: uppercase;

    .section-triathlon &
    .section-sulmsee-triathlon & {
      @extend %adv-gradient-sulmsee;
    }
    a {
      @extend %single-transition;
      text-decoration: none;
      color: white;
      &:hover {
        color: $red-top;
        }
      }
    }
  }