// ======================================
// Placeholders and extensions by criscom
// ======================================

%clearfix { //From SACFW _placeholder.scss line 1ff
  @include clearfix;
}

%clearfix-own {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

// From SASS and Compass for Webdesigners _placeholder.scss line 4ff
%single-transition {
  @include single-transition(all, .3s, ease, 0s);
}

//From SACFW _placeholder.scss line 17ff
%sb-menu-text-shadow {
  @include single-text-shadow();
}

%front-teaser-385-23 {
  width: 32.08333333%; // 385/1200 = 32.08333333
  margin-right: 1.916666667%; // 23/1200 = 1.916666667
}

%front-teaser-22 {
  margin-right: 1.833333333%; // 22/1200 = 1.833333333%
}

%adv-gradient {
  background-color: $red-bottom;
  @include filter-gradient($red-top, $red-bottom);
  @include background(linear-gradient(top, $red-top, $red-bottom));
}

%adv-gradient-sulmsee {
  background-color: $blue-bottom;
  @include filter-gradient($blue-top, $blue-bottom);
  @include background(linear-gradient(top, $blue-top, $blue-bottom));
}

%flex-content-gradient {
  background-color: $grey-bottom;
  @include filter-gradient($grey-top, $grey-bottom);
  @include background(linear-gradient(top, $grey-top, $grey-bottom));
}

%adv-gradient-ergebnisse {
    background-color: $orange-bottom;
  @include filter-gradient($orange-top, $orange-bottom);
  @include background(linear-gradient(top, $orange-top, $orange-bottom));
}

%adv-gradient-news {
  background-color: $green-bottom;
  @include filter-gradient($green-top, $green-bottom);
  @include background(linear-gradient(top, $green-top, $green-bottom));
}

%header-content {
  color: $red-top;
  font-size: 22px;
  font-size: 1.375rem;
  font-family: $oswaldbook;
  text-transform: uppercase;
}

%link {
  font-family: $oswaldbook;
  font-size: 22px;
  font-size: 1.375rem;
  color: lighten(black, 60%);
  text-decoration: none;
  text-transform: uppercase;
  @extend %single-transition;
}

%box-shadow // box shadow for teaser boxes flexslider
{
  position: relative;
  border: none;
  @include box-shadow(0px 1px 4px -3px rgba(0, 0, 0, 0.3)); //, 0 0 40px rgba(0, 0, 0, 0.1) inset);
  behavior: url('/sites/all/themes/adventures/PIE/PIE.php'); // polyfill
  border-radius: none !important;
  &:before, &:after {
  content: " ";
  position: absolute;
  z-index: -2;

  }
    &:before {
    top: 0;
    bottom: 0;
    right: 32px;//50%;
    right: 2rem;
    left: 32px;
    right: 2rem;
    // left: .625rem;
    @include box-shadow(0 0 15px rgba(0,0,0,0.6));
    border-radius: 100px / 10px; //10px / 100px;

  }
}

%box-shadow-bottom // box shadow for teasers
{
  position: relative;
  border: none;
  background:#FFF;
  @include box-shadow(0px 1px 4px -10px rgba(0, 0, 0, 0.3)); //, 0 0 40px rgba(0, 0, 0, 0.1) inset);
  behavior: url('/sites/all/themes/adventures/PIE/PIE.php'); // polyfill
  border-radius: none !important;
  &:before, &:after {
  content: " ";
  position: absolute;
  z-index: -2;
  }
    &:before {
    top: 32px;
    top: 2rem;
    bottom: 0;
    right: 32px;//50%;
    right: 2rem;
    left: 32px;
    right: 2rem;
    // left: .625rem;
    @include box-shadow(0 0 15px rgba(0,0,0,0.6));
    border-radius: 100px / 10px; //10px / 100px;
  }
}

%box-shadow-front // box shadow for teaser boxes flexslider
{
  position: relative;
  border: none;
  @include box-shadow(0px 1px 4px -3px rgba(0, 0, 0, 0.3)); //, 0 0 40px rgba(0, 0, 0, 0.1) inset);
  behavior: url('/sites/all/themes/adventures/PIE/PIE.php'); // polyfill
  border-radius: none !important;
  &:before, &:after {
  content: " ";
  position: absolute;
  z-index: -2;

  }
    &:before {
    top: 0;
    bottom: 0;
    right: 32px;//50%;
    right: 2rem;
    left: 32px;
    right: 2rem;
    // left: .625rem;
    @include box-shadow(0 0 15px rgba(0,0,0,0.6));
    border-radius: 100px / 10px; //10px / 100px;

  }
}

// margins for teaser box headers like "NEWS" applied to h2s

%teaser-box-margins {
  margin-top: 6px;
  margin-top: .375rem;
  border-bottom: 1px solid white;
  margin-bottom: 8px;
  margin-bottom: .5rem;
  line-height: 1.6em;
}


%box-shadow-gabersdorf // box shadow for slideshow
{
  position: relative;
  border: 1px solid #000;
  background: #FFF;
  @include box-shadow(0px 10px 10px -10px rgba(0, 0, 0, 0.27), 0 0 40px rgba(#000, 0.1) inset);
  behavior: url('/sites/all/themes/adventures/PIE/PIE.php'); // polyfill
  &:before, &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 40px;
    bottom: 15px;
    width: 80%;
    max-width: 300px;
    max-height: 100px;
    height: 35%;
    @include box-shadow (0px 10px 12px rgba(0, 0, 0, 0.35));
    @include transform(skew(-15deg) rotate(-6deg));
  }
  &:after {
    right: 40px;
    left: auto;
    @include transform(skew(15deg) rotate(6deg));
  }

}